@media (max-width: 1440px) {


    .download{
        padding: 138px 321px;
    }
    .download--h1{
        margin-bottom: 50px;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
    .instant--img1{
        left: 600px;
    }
    .instant--menu{
        font-size: 30px;
    }
    .download--gen{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .download--gen--img1{
        width: 115px;
    }
}
@media (max-width: 992px) {
    .instant--menu{
        font-size: 25px;
    }
    .instant--img1{
        top: 100px;
        left: 600px;
    }
    .download{
        padding: 130px 268px;
    }
}
@media (max-width: 768px) {
    .instant--menu{
        font-size: 20px;
    }
    .instant--img1{
        left: 380px;
    }
    .download {
        padding: 92px 188px;
    }
    .footer{
        flex-wrap: wrap;
    }
}
@media (max-width: 576px) {
    .header--menu{
        left: 250px;
    }
    .instant--menu{
        font-size: 18px;
    }
    .instant--img1{
        left: 400px;
    }


    .download {
        padding: 30px 104px;
    }
    .footer--bl{
        flex-wrap: wrap;
    }

}
@media (max-width: 450px) {
    .instant--menu{
        margin-top: 120px;
        font-size: 15px;
    }
    .header--menu{
        left: 235px;
    }


    .download--h1 {
        margin-bottom: 20px;
    }
    .download {
        padding: 20px 62px;
    }
    .footer--img{
        width: 126px;
        margin: 0 50px;
    }
}
@media (max-width: 425px) {
    .header--menu{
        left: 218px;
    }
    .header--svg{
        font-size: 20px;
    }
}
@media (max-width: 415px) {
    .header--menu{
        left: 203px;
        width: 47%;
    }
    .instant--menu{
        margin-top: 92px;
        font-size: 15px;
    }
}
@media (max-width: 380px) {
    .header--menu{
        left: 176px;
        width: 48%;
    }
    .instant--menu{
        margin-top: 94px;
        font-size: 15px;
    }

    .download--gen--img1 {
        width: 94px;
    }
    .download--h1 {
        margin-bottom: 10px;
        font-size: 15px;
    }
}
@media (max-width: 375px) {
    .header--menu{
        left: 174px;
        width: 54%;
    }
    .instant--menu{
        margin-top: 93px;
        font-size: 13px;
    }
}
@media (max-width: 320px) {
    .header--menu{
        left: 167px;
        font-size: 10px;
        width: 47%;
    }
    .instant--menu{
        margin-top: 71px;
        font-size: 12px;
    }

    .download {
        padding: 20px 37px;
    }
}
