@import "reset";
@import "verables";

#header{
  .header{
&--menu{
  color: black;
  position: absolute;
left: 350px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
    &--svg{
      margin-top: 40px;
    }
  }
}
#instant{
  .instant{

  }
}

#terms{
  .terms{

  }
}
#works{
  .works{

  }
}
#download{
  .download{

  }
}
#footer{
  .footer{

  }
}