@import "reset";
@import "verables";

#header{
  .header{
&--menu{
  color: black;
  position: absolute;
left: 350px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
    &--svg{
      margin-top: 40px;
    }
  }
}
#instant{
  .instant{
&--menu{
  margin-top: 160px;
font-size: 35px;
}
&--img1{
position: absolute;
  width: 458px;
  height: 564px;
  top: 80px;
  left: 700px;
}
  }
}

#terms{
  background: white;
  padding: 30px 0;
  margin-top: 100px;
  margin-left: 100px;
  .terms{
    &--Save{
      margin-left: 700px;
      margin-top: -250px;
    }
    &--own{
      font-size: 45px;
      color: #333333;
    }
    &--give{
      font-size: 24px;
      color: #333333;
      padding: 30px 0;
    }
  }
}
#works{
  background: white;
  padding: 30px 0 0 0;
  .works{
    &--How{
      font-size: 45px;
      color: #333333;
      padding: 30px 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      padding: 30px 0

    ;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--purpleLine{
      @include Line;
      background: #582EFF;
    }
    &--account{
      border: 2px solid;
      width: 288px;
      height: 227px;
      padding: 30px;
    }
    &--phone{
      color: #582EFF;
      font-size: 40px;
     }
    &--up{
      padding: 40px;
    }
    &--orangeLine{
      @include Line;
      background: #FF814A;
    }
    &--Apply{
      border: 2px solid;
      width: 288px;
      height: 227px;
      padding: 30px;
    }
    &--doc{
      color: #FF814A;
      font-size: 40px;
    }
    &--loan{
      padding: 40px;
    }
    &--greenLine{
      @include Line;
      background: #31C5A1;
    }
    &--cash{
      border: 2px solid;
      width: 288px;
      height: 227px;
      padding: 30px;
    }
    &--wallet{
      padding: 40px;
    }
    &--give{
      color: #31C5A1;
      font-size: 40px;
    }
  }
}
#download{
  background: #31C5A1;
  .download{
    padding: 138px 321px;
    text-align: center;
    &--h1{
      margin-bottom: 50px;
      color: white;
    }
  }
}
#footer{
  .footer{
    margin: 90px 50px;
    display: flex;
    justify-content: space-between;
    &--bl{
      display: flex;
      &--office{
        margin: 0 50px;
        &--p{
          margin-bottom: 5px;
        }
      }
      &--contact{
        &--p{
          margin-bottom: 10px;
        }
      }
      &--power{
        margin: 0 50px;
        &--p{
          margin-bottom: 10px;
        }
      }
    }
  }
}